* {
  margin: 0;
  padding: 0;
}
.logo {
  display: flex;
  justify-content: space-between;
  background-color: rgb(233, 50, 50);
  padding: 1rem;
}
.left{
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 0.5rem;
}

h1 {
  color: white;
}
.right button {
  margin: 0.5rem;
  font-size: 2rem;
  color: white;
  background-color: rgb(233, 50, 50);
  border: none;
  padding-top: 1rem;
  cursor: pointer;
}
.search {
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: rgb(185, 185, 185);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.searching {
  width: 400px;
  max-width: 60%;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.search > button {
  margin-left: 0.5rem;
  font-size: 2rem;
  border-radius: 5px;
  background-color: rgb(233, 50, 50);
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/mover.jpg);
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero > h2 {
  color: white;
  font-size: 2rem;
  /* background-color: black; */
}
.hero > button {
  background-color: rgb(233, 50, 50);
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 10px;
}
.mover {
  text-align: center;
  padding: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mover > h2 {
  font-size: 3rem;
  font-weight: bold;
}
.movie {
  display: flex;
  overflow-x: scroll;
}
.images {
  height: 400px;
}
.card {
  border: 0.5rem solid rgb(208, 199, 199);
  background-color: rgb(208, 199, 199);
  text-align: center;
}
.card > h3 {
  font-size: 2rem;
}
.bot {
  margin-top: 2rem;
  text-align: center;
}
.bot > img {
  max-width: 80%;
  border-radius: 10px;
}

@media (max-width: 650px) {
  .logo {
    flex-direction: column;
    align-items: center;
  }
  .right {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  .movie {
    flex-direction: column;
  }
}
